footer {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  color: #07b995;
  height: 45vh;
  position: absolute;
  background-color: #161616;
}

footer nav ul li {
  list-style: none;
  margin: 30px;
  margin-right: 0;
}

form {
  display: grid;

  width: 40%;
}

input {
  margin: 8px;
  opacity: 0.7;
}
footer form input[type="submit"] {
  font-weight: bold;
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

footer form input[type="message"] {
  height: 60px;
  width: 100%;
  align-items: flex-start;
  padding: 0 0 0 1em;
}

footer form input[type="text"] {
  height: 30px;
  width: 100%;
  padding: 0 0 0 1em;
}
